.headerContainer {
  width: 100%;
  height: 100vh;
  margin-bottom: 500px;
  background-image: url("../../public/alensao-banner2.jpg");
  background-size: 100%;

  .hero {
    width: 100%;
    padding: 10px 20px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      display: flex;
      align-items: center;
      font-family: "Montserrat", sans-serif;
      .text {
        text-align: center;
        margin-left: 10px;
        h4 {
          border-bottom: 2px solid black;
        }
        p {
          font-size: 10px;
          font-weight: 500;
        }
      }
    }

    .infoContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      .info {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 10px;
        .description {
          margin-left: 8px;
          span {
            font-size: 14px;
            color: #aaaaa4;
          }
          p {
            font-family: "Montserrat", sans-serif;
            font-weight: 400;
            font-size: 13px;
            line-height: 22px;
          }
        }
      }
    }
  }

  .mainSectionContainer {
    width: 100%;
    height: 90vh;

    .mainSection {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #363636;
      .text {
        text-align: center;
        margin-top: 70px;
        font-family: "Montserrat", sans-serif;
        h3 {
          font-size: 60px;
        }
        h4 {
          font-size: 50px;
          border-bottom: 2px solid #0c97b4;
          padding-bottom: 10px;
        }
        p {
          margin-top: 10px;
          font-size: 25px;
          color: #aaaaa4;
          font-weight: 400;
        }
      }
    }
  }
}
