.menuContainer {
  background-color: white;
  width: 95%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  margin-top: 25px;
  padding: 0px 15px;
  box-shadow: 0 15px 45px -9px rgb(0 0 0 / 20%);
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    li {
      text-transform: uppercase;
      margin: 0px 10px;
      font-family: "Montserrat", sans-serif;
      font-weight: 700;
      font-size: 14px;
      line-height: 40px;
      color: rgba(61, 61, 61, 0.8);
      cursor: pointer;
    }
  }

  .social {
    ul {
      li {
        font-size: 20px;
        text-align: center;
        padding: 15px 20px;
        border-left: 1px solid lightgray;
        border-width: 100%;
        margin: 0;
        transition: all 0.5s ease;
        &:hover {
          color: rgba($color: #0c97b4, $alpha: 0.3);
        }
      }
    }
  }
}
